*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.l-container{
    background: url(./assets/login_background.jpg);
    width: 100vw;
    height: 100vh;
    padding-top: 200px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.iconwithinput{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 350px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    border-radius: 10px;
}
i{
    margin-left: 10px;
}
.username,
.password{
    padding: 1rem;
    border-radius: 0px 10px 10px 0px;
    font-size: 25px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
}
.password::placeholder{
    color: white;
}
.username::placeholder{
    color: white;
}
.btn{
    width: 350px;
    height: 50px;
    border: 2px solid white;
    background-color: white;
    color: #0D75FF;
    font-size: 25px;
    border-radius: 10px;
    transition: .3s ease-out;
}
.btn:hover{
    background-color: #0D75FF;
    color: white;
    border-color: white;
}
.forgotPsw{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.error{
    color: red;
}